/* Global reset (begin) */
.html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Global reset (end) */

/* Main (begin) */
html
{
    height:100%;
}

body
{
    background-color: #232323;
    height:100%;
    margin:0;
    padding:0;
    text-align: center;
}

.small
{

}

img
{
    background: transparent;
}

.wrapp
{
    /*display: inline-block;*/
    position: relative;
    overflow: hidden;
    height: 100%;
}

.wrapp > a
{
    display: none;
}

.main
{
    display:table;
    overflow:hidden;
    margin:0 auto;
    height:100%;
}

.main ul
{
    display:table-cell;
    vertical-align:middle;
}

.main li
{
    width: auto;
    height: auto;
    position: relative;
    float: left;
}

.main .current_img
{
    position: relative;
}

.main .next_img
{
    position: relative;
    right: -2000px;
}

.main .prev_img
{
    position: relative;
    left: -2000px;
}

.main img {
    max-height: 100%;
    max-width: 100%;
}

.small
{
    height: 90px;
    width: auto;
    position: fixed;
    white-space: nowrap;
    bottom: 0;
    left: 0;
    box-shadow: 0 -3px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

.small img
{
    display: inline-block;
    margin: 0 3px;
    padding: 5px;
}

.small .active
{
    border: 3px solid #50BCE0;
    padding: 2px;
    box-shadow: 0 0 1px 1px rgba(80, 188, 224, 0.8);
}

.prev
{
    background: url("arrow.png") no-repeat scroll 0 0 transparent;
    height: 70px;
    left: 5%;
    position: fixed;
    top: 40%;
    width: 40px;
}

.next
{
    background: url("arrow.png") no-repeat scroll -40px 0 transparent;
    height: 70px;
    right: 5%;
    position: fixed;
    top: 40%;
    width: 40px;
}
/* Main (end) */